<div class="container mt-4">

  <h2 class="mb-4">PgMonitor Dashboard</h2>

  <p class="text-muted">
  Last updated:
  {{ latestMetric?.createdAt | date:'mediumTime' }}
</p>

  <div class="row mb-4">

    <div class="col-md-6">
      <div class="card shadow-sm">
        <!-- <div class="card-body">
          <h5>CPU Usage</h5>

          <h2>
            {{ latestMetric?.cpuUsage }}%
          </h2>
        </div> -->
        <div class="card-body p-4">

  <h5 class="text-muted">
    CPU Usage
  </h5>

  <h1 class="fw-bold mb-4">
    {{ latestMetric?.cpuUsage }}%
  </h1>

  <div class="progress" style="height: 20px;">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
      [style.width.%]="latestMetric?.cpuUsage">
    </div>
  </div>

</div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-sm">
        <!-- <div class="card-body">
          <h5>Memory Usage</h5>

          <h2>
            {{ latestMetric?.memoryUsage }} MB
          </h2>
        </div> -->
        <div class="card-body p-4">

  <h5 class="text-muted">
    Memory Usage
  </h5>

  <h1 class="fw-bold mb-4">
    {{ latestMetric?.memoryUsage }} MB
  </h1>

  <div class="progress" style="height: 20px;">
    <div
      class="progress-bar bg-success progress-bar-striped progress-bar-animated"
      role="progressbar"
      [style.width.%]="(latestMetric?.memoryUsage || 0) / 160">
    </div>
  </div>

</div>
      </div>
    </div>

  </div>

  <div class="card shadow-sm">
    <div class="card-body">

      <h5 class="mb-3">Metrics History</h5>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>CPU %</th>
            <th>Memory MB</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of history">
            <td>{{ item.createdAt | date:'medium' }}</td>
            <td>{{ item.cpuUsage }}</td>
            <td>{{ item.memoryUsage }}</td>
          </tr>
        </tbody>

      </table>

    </div>
  </div>

</div>